@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

:root {
  --fontDefaultSize: 16px;
  --whiteColor: white;
  --blackColor: black;
  --fontColorBlack: #444444;
  --footerColor: grey;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #e5e5e5;
  font-size: var(--fontDefaultSize);
}

.resumo,
.hoteis h2 {
  background-color: var(--whiteColor);
}

/* CABEÇALHO */
header {
  background-color: #253e99;
}

header ul {
  list-style: none;
  display: flex;
  font-size: 0.8em;
}

header a {
  color: var(--whiteColor);
  text-decoration: none;
}

.acessibilidade {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.5em 1em;
}

.acessibilidade li {
  margin: 0px 0.8rem;
}

.acessibilidade__menu {
  display: flex;
}

,
.acessibilidade__menu ul li:first-child {
  padding: 0 0.5em;
}

.acessibilidade__menu,
.sites select {
  margin: 0 1em;
  border: none;
}

.acessibilidade__sumario {
  width: 50%;
}

.contraste__zero,
.contraste__branco,
.contraste__preto,
.contraste__azul {
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.contraste__zero {
  border: 1px solid white;
}

.contraste__branco {
  background-color: white;
  border: 1px solid black;
}

.contraste__preto {
  background-color: black;
  border: 1px solid white;
}

.contraste__azul {
  background-color: rgb(12, 0, 119);
  border: 1px solid rgb(255, 255, 255);
}

.cabecalho__principal {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
  margin: 0 1em;
}

.cabecalho__principal ul {
  display: flex;
  align-items: center;
}

.cabecalho__principal ul li:first-child {
  margin-right: 1em;
}

/* RESUMO*/
.resumo {
  display: flex;
  padding: 1em;
}

.ondeestou {
  font-size: 1.125rem;
}

.txt {
  margin: 1rem;
  width: 75%;
}

.txt__titulo {
  display: flex;
  font-size: 2.625rem;
}

.txt__titulo img {
  width: 27px;
  height: 33px;
}

.txt__titulo h3 {
  color: var(--fontColorBlack);
}

.txt p {
  color: var(--fontColorBlack);
  margin-top: 1em;
}

figcaption {
  color: #444;
  font-size: 0.875rem;
}

/* CONTEUDO */
span {
  font-weight: 700;
}

.resultado__pesquisa {
  margin: 1em 0;
}

.hoteis {
  margin: 0 1em;
}

.hoteis h2 {
  color: #0093e5;
  border-bottom: 5px solid #0093e5;
  font-size: 18px;
  display: flex;
  width: 150px;
  justify-content: center;
  padding: 10px;
}

.hoteis p {
  font-size: 24px;
}

.hoteis p:first-child() {
  margin: 1em;
}

.hoteis article {
  display: flex;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  margin: 1em 0;
  background-color: var(--whiteColor);
}

.hoteis__nome p {
  font-size: 1.125rem;
  color: var(--fontColorBlack);
}

.hoteis__nome h3 {
  font-size: 2rem;
  color: var(--fontColorBlack);
}

.hoteis__nome--estrelas,
.hoteis__nome--servicos,
.hoteis__preco,
.hoteis__nome--estrelas,
.hoteis__nome--servico,
.hoteis__compartilhar {
  color: var(--fontColorBlack);
}

.hoteis__preco--preco p {
  color: var(--fontColorBlack)
  font-size: 2rem;
}

.hoteis__detalhes {
  display: flex;
  margin: 1em;
  justify-content: space-between;
  width: 100%;
  position: relative;
}
.hoteis__detalhes > :first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hoteis__detalhes > :last-child {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 2em;
}

.hoteis__comodidades {
  display: flex;
  flex-direction: column;
}

.hoteis__compartilhar {
  position: absolute;
  right: 0;
  top: 0;
}

.hoteis__compartilhar button {
  font-size: 1.4rem;
  padding: 10px 20px;
  border: none;
  background: none;
  cursor: pointer;
}

.hoteis__botoes button {
  font-size: 1.125rem;
  color: #0093e5;
}

.hoteis__botoes--detalhes {
  padding: 0.5em;
  border: none;
  background: none;
  text-decoration: underline;
}

.hoteis__botoes--reservar {
  padding: 0.5em;
  border: 1px solid #ececec;
  border-radius: 5px;
  background: white;
  font-weight: 700;
}

.emlinha {
  display: flex;
  align-items: center;
}

/* RODAPÉ */
.rodape {
  background-color: var(--footerColor);
  color: var(--fontColorBlack);
}

.institucional {
  display: flex;
  padding-top: 1em;
}

.sobrenos ul,
.faq ul {
  list-style: none;
  margin: 0 2em;
}

.sobrenos ul li a,
.faq ul li a {
  color: white;
  text-decoration: none;
}

.redessociais {
  text-align: center;
  padding-bottom: 2em;
}

.redessociais a:visited {
  color: rgb(255, 255, 255);
}

.redessociais ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 1em;
}

.redessociais ul li {
  margin: 0 0.5em;
}

/* MEDIA QUERYS */
@media (max-width: 450px) {
  .acessibilidade {
    justify-content: center;
    font-size: 1.25rem;
    align-items: center;
  }

  .acessibilidade__sumario {
    display: none;
  }

  .acessibilidade__menu ul {
    align-items: center;
  }

  .acessibilidade__menu ul li {
    padding: 0 0.5em;
  }

  .sites {
    display: none;
  }

  .cabecalho__principal {
    height: auto;
  }

  .resumo {
    display: block;
    background-color: var(--whiteColor);
  }

  figure img {
    width: 100%;
    border-radius: 5px;
  }

  article {
    border-radius: 5px;
  }

  .ondeestou {
    font-size: 0.75rem;
  }

  .txt__titulo h1 {
    font-size: 1.875rem;
  }

  .txt p:last-child {
    display: none;
  }

  .hoteis article {
    display: block;
  }

  .resumo figure img {
    width: 100%;
  }

  .divs {
    display: flex;
    margin: 0;
    padding: 0.5em;
  }

  .emlinha {
    display: block;
  }

  .emlinha h3 {
    font-size: 24px;
  }

  .hoteis__preco--preco {
    font-size: 1.5rem;
    color: var(--fontColorBlack);
  }

  .hoteis__compartilhar {
    margin: 0 1em;
    font-size: 1.563rem;
  }

  .hoteis__nome--servicos {
    display: none;
  }

  .hoteis__botoes {
    display: flex;
    justify-content: flex-end;
  }

}
@media (max-width: 1024px) {
  .hoteis__preco--preco p {
    font-size: 1.2rem;
    font-weight: 700;
  }
  .hoteis__botoes {
    display: flex;
    justify-content: flex-end;
  }
  figure {
    display: block;
  }
  .txt {
    margin: 0 1em;
  }
  .ondeestou {
    margin: 0;
    font-size: 0.875rem;
  }
  .txt__titulo h1 {
    font-size: 2.125rem;
  }
  .txt__titulo h3 {
    font-size: 1.875rem;
  }
  .acessibilidade__sumario {
    width: 40%;
  }
  .cabecalho__principal {
    height: auto;
    padding: 1em;
  }
}
